.alert-form {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.alert-form input[type="text"] {
  flex-grow: 1;
  padding: 5px 8px;
  font-size: 12px;
  border: none;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, .5);
}

.alert-form-btn {
  padding: 5px 10px;
  box-shadow: 0 2px 5px -2px rgba(0, 0, 0, .8);
  transition: box-shadow 0.3s;
}

.alert-form-btn:disabled {
  opacity: 0.5;
  cursor: auto;
  box-shadow: none;
}

.alert-form-btn:hover {
  box-shadow: none;
}